.filter-product {
	
}

	.filter-product .carousel {
		overflow: hidden;
	}
	
		.filter-product .carousel:hover {
			overflow: visible;
		}

	.filter-product .filter-tabs {
		list-style: none;
		padding: 0px 65px 0px 0px;
		margin: 44px 0px 30px 0px;
	}
		.filter-product .filter-tabs ul {
			list-style: none;
			margin: 0px;
			padding: 0px;
		}
	
		.filter-product .filter-tabs ul > li {
		  float: left;
		}
		
			.filter-product .filter-tabs ul > li > a {
			  margin: 0px 30px 0px 0px;
			  border-radius: 3px 3px 0 0;
			  padding: 20px 33px 20px 33px;
			  position: relative;
			  display: block;
			  height: 66px;
			  font-size: 18px;
			}

			.filter-product .filter-tabs ul > li.active > a,
			.filter-product .filter-tabs ul > li.active > a:hover,
			.filter-product .filter-tabs ul > li.active > a:focus {
				background: #fff;
			}
			
@media (max-width: 991px) {
	.responsive .filter-product .filter-tabs {
		margin-top: 30px;
		margin-bottom: 20px;
	}
	
	.responsive .filter-product .filter-tabs ul > li > a {
		padding: 5px 0px 5px 0px;
		height: auto;
	}
}

.tab-content {
	position: relative;
}
				
	.tab-content .prev-button, 
	.tab-content .next-button {
		margin: 0px;
		width: 45px;
		height: 45px;
		border-radius:         100px;
		-moz-border-radius:    100px;
		-webkit-border-radius: 100px;
		background: #fff;
		position: absolute;
		top: -97px;		
		right: 5px;
	}
		
		.tab-content .prev-button {
			right: 62px;
		}
		
		.tab-content .prev-button:before, 
		.tab-content .next-button:before {
			position: absolute;
			height: 25px;
			width: 25px;
			border: 2px solid #56d8c4;
			border-radius: 100px;
			-webkit-border-radius: 100px;
			-moz-border-radius: 100px;
			left: 10px;
			top: 10px;
			content: '\f054';
			font-family: FontAwesome;
			-webkit-font-smoothing: antialiased;
			color: #56d8c4;
			text-align: center;
			line-height: 23px;
			padding-left: 2px;
		}
		
			.tab-content .prev-button:before {
				content: '\f053';
				padding-left: 0;
			}
			
@media (max-width: 991px) {
	.responsive .tab-content .prev-button, 
	.responsive .tab-content .next-button {
		width: 25px;
		height: 25px;
		top: -52px;
	}
	
	.responsive .tab-content .prev-button {
		right: 50px;
	}
	
	.responsive .tab-content .prev-button:before, 
	.responsive .tab-content .next-button:before {
		left: 0;
		top: 0;
	}
}

@media (max-width: 767px) {

}