/*------------------------------------------------------------------
[Table of contents]

1. MegaMenu Horizontal
2. MegaMenu Mobile Heading
3. MegaMenu Vertical
4. Responsive MegaMenu
-------------------------------------------------------------------*/

/* @group 1. MegaMenu Horizontal
------------------*/	

#menu {
	position: relative;
	overflow: visible;
}
     
     #top .overflow-megamenu {
          padding-top: 0 !important;
          padding-bottom: 0 !important;
     }

	#menu .background-menu {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: -1;
	}
	
	.megaMenuToggle {
		display: none;
	}
	
	.container-megamenu, 
	.container-megamenu .container {
		padding-top: 0px !important;
		padding-bottom: 0px !important;
	}
	
		.container-megamenu.container .container {
			width: auto !important;
		}
		
	#top .background-megamenu {
		background: #f7941d;
		border-radius: 3px;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
	}
	
	.megamenu-wrapper {
		position: relative;
		z-index: 25;
		background: #fff;
		margin: 4px 4px 4px 4px;
	}
	
		.overflow-megamenu .col-md-9 .megamenu-wrapper {
			margin-left: -30px;
			padding-left: 8px;
		}

		ul.megamenu {
			margin: 0px;
			padding: 0px;
			list-style: none;
			position: relative;
			z-index: 0;
			opacity: 1;
		}
			
			ul.megamenu > li {
				float: left;
				width: auto;
			}
			
				ul.megamenu > li:first-child {
					background: none;
					padding-left: 0;
				}
			
				ul.megamenu > li.pull-right {
					float: right;
				}
				
				ul.megamenu > li .close-menu,
				ul.megamenu > li .open-menu {
					display: none;
				}
				
				/* @group Search */
				
				ul.megamenu > li.search {
					background: none;
				}
				
					#top ul.megamenu > li.search .search_form, ul.megamenu > li.search .search_form {
						padding: 0px;
						margin: 8px;
					}
					
						#top ul.megamenu > li.search .search_form input, ul.megamenu > li.search .search_form input {
							height: 29px;
							min-height: 29px;
							border: none;
						}
						
						ul.megamenu > li.search .button-search2 {
							top: 6px;
							right: 8px;
						}
						
				/* @end */
				
				ul.megamenu > li > a {
					display: block;
					position: relative;
					color: #000;
					font-size: 14px;
					padding: 9px 20px 9px 20px;
					height: 38px;
					transition: all 0.2s ease-in;
					-webkit-transition: all 0.2s ease-in;
					-moz-transition: all 0.2s ease-in;
				}
				
					ul.megamenu > li:before {
						content: '';
						position: absolute;
						width: 1px;
						height: 23px;
						background: #f2f3f4;
						margin-top: 8px;
					}
					
						ul.megamenu > li:first-child:before {
							display: none;
						}
				
					ul.megamenu > li > a strong {
						font-weight: 600;
					}
					
					ul.megamenu .megamenu-label {
					     position: absolute;
					     top: -7px;
					     left: 50px;
					     height: 15px;
					     line-height: 1;
					     padding: 4px 6px;
					     font-size: 9px;
					     color: #fff;
					     font-weight: bold;
					     border-radius: 3px;
					     -webkit-border-radius: 3px;
					     -moz-border-radius: 3px;
					}
					
					     ul.megamenu ul .megamenu-label {
					          display: inline-block;
					          position: relative;
					          top: 0;
					     }
				
					ul.megamenu > li > a:hover, 
					ul.megamenu > li.active > a, 
					ul.megamenu > li.home > a, 
					ul.megamenu > li:hover > a {
						color: #f7941d;
					}
					
					ul.megamenu > li > a > .fa-home {
						display: block;
						font-size: 20px;
						margin-top: 1px;
					}
					
					ul.megamenu > li > a img {
						margin-right: 10px;
						height: 27px;
						vertical-align: middle;
					}
					
					/* @group Description */
					
					ul.megamenu > li > a.description {
						font-size: 14px;
						padding: 10px 20px 11px 21px;
						line-height: 1;
					}
					
						ul.megamenu > li > a.description strong {
							font-size: 14px;
						}
					
						ul.megamenu > li > a.description img {
							float: left;
						}
					
						ul.megamenu > li > a.description .description {
							font-size: 11px;
							opacity: 0.9;
						}
						
						ul.megamenu > li > a.description .description-left {
							float: left;
							width: auto;
						}
						
					/* @end */
					
					/* @group Submenu */
					
					ul.megamenu > li > .sub-menu {
						position: absolute;
						padding-top: 15px;
						z-index: -20;
						visibility: hidden;
						right: 0;
					}
					
						ul.megamenu > li.active > .sub-menu {
							z-index: 20;
							right: auto;
							visibility: visible;
						}
					
						ul.megamenu > li > .sub-menu > .content {
							display: none;
						}
					
							ul.megamenu > li.active > .sub-menu > .content {
								display: block;
							}
							
							ul.megamenu > li > .sub-menu > .content > .arrow {
								position: absolute;
								left: 0;
								height: 1px;
							}
							
							ul.megamenu > li > .sub-menu > .content > .arrow:after {
							  position: absolute;
							  margin-top: -27px;
							  margin-left: -7px;
							  display: inline-block;
							  border-right: 7px solid transparent;
							  border-bottom: 7px solid #fff;
							  border-left: 7px solid transparent;
							  content: '';
							  z-index: 30;
							}
							
							ul.megamenu > li > .sub-menu > .content > .arrow:before {
							  position: absolute;
							  margin-top: -28px;
							  margin-left: -7px;
							  display: inline-block;
							  border-right: 7px solid transparent;
							  border-bottom: 7px solid #f2f3f4;
							  border-left: 7px solid transparent;
							  content: '';
							  z-index: 30;
							}
							
						/* @group Transitions */
							
						/* @group Transition fade */
						
						ul.megamenu.fade > li > .sub-menu > .content {
							display: block;
							opacity: 0;
							filter: alpha(opacity=0);
							visibility: hidden;
							-webkit-transition: all 0.2s ease-out;
							-moz-transition: all 0.2s ease-out;
							-o-transition: all 0.2s ease-out;
							-ms-transition: all 0.2s ease-out;
							transition: all 0.2s ease-out;
						}
						
							ul.megamenu.fade > li.active > .sub-menu > .content {
								display: block;
								opacity: 1;
								filter: alpha(opacity=100);
								visibility: visible;
							}
							
						/* @end */
							
						/* @group Transition shift up */
						
						ul.megamenu.shift-up > li > .sub-menu > .content {
							display: block;
							opacity: 0;
							filter: alpha(opacity=0);
							visibility: hidden;
							-webkit-transition: all 0.2s ease-out;
							-moz-transition: all 0.2s ease-out;
							-o-transition: all 0.2s ease-out;
							-ms-transition: all 0.2s ease-out;
							transition: all 0.2s ease-out;
							margin-top: 25px;
						}
							ul.megamenu.shift-up > li.active > .sub-menu > .content {
								margin-top: 0px;
								display: block;
								opacity: 1;
								filter: alpha(opacity=100);
								visibility: visible;
							}
							
						/* @end */
							
						/* @group Transition shift down */
						
						ul.megamenu.shift-down > li > .sub-menu > .content {
							display: block;
							opacity: 0;
							filter: alpha(opacity=0);
							visibility: hidden;
							-webkit-transition: all 0.2s ease-out;
							-moz-transition: all 0.2s ease-out;
							-o-transition: all 0.2s ease-out;
							-ms-transition: all 0.2s ease-out;
							transition: all 0.2s ease-out;
							margin-top: -25px;
						}
							ul.megamenu.shift-down > li.active > .sub-menu > .content {
								margin-top: 0px;
								display: block;
								opacity: 1;
								filter: alpha(opacity=100);
								visibility: visible;
							}
					     
					     /* @end */
							
						/* @group Transition shift left */
						
						ul.megamenu.shift-left > li > .sub-menu > .content {
							display: block;
							opacity: 0;
							filter: alpha(opacity=0);
							visibility: hidden;
							-webkit-transition: all 0.2s ease-out;
							-moz-transition: all 0.2s ease-out;
							-o-transition: all 0.2s ease-out;
							-ms-transition: all 0.2s ease-out;
							transition: all 0.2s ease-out;
							left: 30px;
						}
							ul.megamenu.shift-left > li.active > .sub-menu > .content {
								left: 0px;
								display: block;
								opacity: 1;
								filter: alpha(opacity=100);
								visibility: visible;
							}
							
						/* @end */
							
						/* @group Transition shift right */
						
						ul.megamenu.shift-right > li > .sub-menu > .content {
							display: block;
							opacity: 0;
							filter: alpha(opacity=0);
							visibility: hidden;
							-webkit-transition: all 0.2s ease-out;
							-moz-transition: all 0.2s ease-out;
							-o-transition: all 0.2s ease-out;
							-ms-transition: all 0.2s ease-out;
							transition: all 0.2s ease-out;
							left: -30px;
						}
							ul.megamenu.shift-right > li.active > .sub-menu > .content {
								left: 0px;
								display: block;
								opacity: 1;
								filter: alpha(opacity=100);
								visibility: visible;
							}
							
						/* @end */
							
						/* @group Transition flipping */
						
						ul.megamenu.flipping > li > .sub-menu > .content {
							display: block;
							filter: alpha(opacity=0);
							visibility: hidden;
							opacity: 0;
							-webkit-transform-origin: 50% 0%;
							-o-transform-origin: 50% 0%;
							transform-origin: 50% 0%;
							-webkit-transform: perspective(350px) rotateX(-90deg);
							-o-transform: perspective(350px) rotateX(-90deg);
							transform: perspective(350px) rotateX(-90deg);
							-webkit-transition: all 0.2s ease-out;
							-moz-transition: all 0.2s ease-out;
							-o-transition: all 0.2s ease-out;
							-ms-transition: all 0.2s ease-out;
							transition: all 0.2s ease-out;
						}
						
							ul.megamenu.flipping > li.active > .sub-menu > .content {
								display: block;
								opacity: 1;
								filter: alpha(opacity=100);
								visibility: visible;
								-webkit-transform: perspective(350px) rotateX(0deg);
								-o-transform: perspective(350px) rotateX(0deg);
								transform: perspective(350px) rotateX(0deg);
								-webkit-transition:0.2s linear 0s;
								-o-transition:0.2s linear 0s;
								transition:0.2s linear 0s;
							} 
							
						/* @end */
						
						/* @group Transition slide */
						
						ul.megamenu.slide > li > .sub-menu > .content {
							display: block;
							opacity:0;
							filter: alpha(opacity=0);
							visibility: hidden;
							-webkit-transform-origin: top;
							-moz-transform-origin: top;
							-o-transform-origin: top;
							-ms-transform-origin: top;
							transform-origin: top;
							
							-webkit-animation-fill-mode: forwards;
							-moz-animation-fill-mode: forwards;
							-ms-animation-fill-mode: forwards;
							-o-animation-fill-mode: forwards;
							animation-fill-mode: forwards;
							
							-webkit-transform: scale(1, 0);
							-moz-transform: scale(1, 0);
							-o-transform: scale(1, 0);
							-ms-transform: scale(1, 0);
							transform: scale(1, 0);
							
							-webkit-transition: all 0.2s ease-out;
							-moz-transition: all 0.2s ease-out;
							-o-transition: all 0.2s ease-out;
							-ms-transition: all 0.2s ease-out;
							transition: all 0.2s ease-out;
						}
						
							ul.megamenu.slide > li.active > .sub-menu > .content {
								-webkit-transform: scale(1, 1);
								-moz-transform: scale(1, 1);
								-o-transform: scale(1, 1);
								-ms-transform: scale(1, 1);
								transform: scale(1, 1);
								opacity:1 !important;
								filter: alpha(opacity=100) !important;
								visibility: visible !important;
							} 
							
						/* @end */
							
						/* @end */
					
						.horizontal ul.megamenu > li > .sub-menu {
							max-width: 100%;
						}
					
						ul.megamenu li .sub-menu .content {
							padding: 20px;
							background: #fff;
							border-radius:         3px;
							-moz-border-radius:    3px;
							-webkit-border-radius: 3px;
							border: 1px solid #f2f3f4;
							box-sizing: content-box !important;
							-moz-box-sizing: content-box !important;
							-webkit-box-sizing: content-box !important;
						}
						
							ul.megamenu .sub-menu .content > .row {
								padding-top: 20px;
							}
							
							ul.megamenu .sub-menu .content > .border {
								padding-top: 20px;
								border-bottom: 1px solid #f2f2f2;
							}
							
								ul.megamenu .sub-menu .content > .row:first-of-type {
									padding: 0px;
								}
							
							/* @group Product */
							
							ul.megamenu li .product {
								text-align: center;
								position: relative;
							}
								
								ul.megamenu li .product .image {
									padding: 0px;
								}
								
									ul.megamenu li .product .image img {
										border: 1px solid #f2f3f4;
										border-radius: 3px;
										-webkit-border-radius: 3px;
										-moz-border-radius: 3px;
									}
								
								ul.megamenu li .product .name {
									padding: 12px 0px 0px 0px;
									font-size: 15px;
								}
								
								ul.megamenu li .product .price {
									color: #f7941d;
									font-size: 15px;
									font-weight: 500;
								}
								
							/* @end */
                              
                              /* @group Products */
                              
                              .products-carousel-overflow {
                                   overflow: hidden;
                                   margin: -2px;
                                   padding: 2px;
                                   position: relative;
                              }
                              
                                   .products-carousel-overflow .box-heading {
                                        float: left;
                                        margin: 5px 15px 10px 0px;
                                        padding: 0px;
                                        font-size: 18px;
                                        line-height: 20px;
                                        font-weight: 400;
                                        position: relative;
                                        z-index: 1;
                                   }
                              
                                   .products-carousel-overflow .strip-line {
                                        background: url(../img/patterns/heading/01.png) 0px 50% repeat-x;
                                        height: 35px;
                                        overflow: hidden;
                                   }
                                   
                                   .products-carousel-overflow > .prev, 
                                   .products-carousel-overflow > .next {
                                   	float: right;
                                   	margin: 2px 0px 0px 5px;
                                   	width: 28px;
                                   	height: 28px;
                                   	border-radius:         2px;
                                   	-moz-border-radius:    2px;
                                   	-webkit-border-radius: 2px;
                                   	background: #43c6bc; /* Old browsers */
                                   	background: -moz-linear-gradient(top, #43c6bc 0%, #59d4cc 0%, #43c6bc 99%); /* FF3.6+ */
                                   	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#43c6bc), color-stop(0%,#59d4cc), color-stop(99%,#43c6bc)); /* Chrome,Safari4+ */
                                   	background: -webkit-linear-gradient(top, #43c6bc 0%,#59d4cc 0%,#43c6bc 99%); /* Chrome10+,Safari5.1+ */
                                   	background: -o-linear-gradient(top, #43c6bc 0%,#59d4cc 0%,#43c6bc 99%); /* Opera 11.10+ */
                                   	background: -ms-linear-gradient(top, #43c6bc 0%,#59d4cc 0%,#43c6bc 99%); /* IE10+ */
                                   	background: linear-gradient(to bottom, #43c6bc 0%,#59d4cc 0%,#43c6bc 99%); /* W3C */
                                   	cursor: pointer;
                                   	position: relative;
                                   	z-index: 1;
                                   }

                                   	.products-carousel-overflow > .prev {
                                   		margin-left: 15px;
                                   	}
                                   
                                   	.products-carousel-overflow > .prev span, 
                                   	.products-carousel-overflow > .next span {
                                   		display: block;
                                   		width: 8px;
                                   		height: 14px;
                                   		margin: 8px auto 0px auto;
                                   		background: url(../img/left.html) no-repeat;
                                   	}
                                   	
                                   		.products-carousel-overflow > .next span {
                                   			background: url(../img/right.html) no-repeat;
                                   		}
                                   		
                                   .products-carousel-overflow .clear {
                                        clear: left;
                                        width: 100%;
                                        height: 16px;
                                   }
                                   
                              /* @end */
									
							/* @group Open Categories */
							
							ul.megamenu li .sub-menu .content .open-categories,
							ul.megamenu li .sub-menu .content .close-categories {
								display: none;
							}
							
							/* @end */
							
							/* @group Static Menu */
							
							ul.megamenu li .sub-menu .content .static-menu a.main-menu {
								font-weight: 600;
								font-size: 14px;
								border-bottom: 1px solid #e6e6e6;
								display: block;
								padding: 3px 0px 10px 0px;
								margin: 0px 0px 7px 0px;
							}
							
							ul.megamenu li .sub-menu .content .static-menu .categories-image-top {
							     padding-bottom: 8px;
							}
							
							ul.megamenu li .sub-menu .content .static-menu .left-categories-image-right {
							     float: left;
							     width: 54%;
							     padding-right: 6%;
							}
							
							ul.megamenu li .sub-menu .content .static-menu .right-categories-image-right {
							     float: left;
							     width: 40%;
							     text-align: right;
							     padding-top: 5px;
							}
							
							ul.megamenu li .sub-menu .content .static-menu .left-categories-image-left {
							     float: left;
							     width: 40%;
							     padding-right: 4%;
							     padding-top: 5px;
							}
							
							ul.megamenu li .sub-menu .content .static-menu .right-categories-image-left {
							     float: left;
							     width: 56%;
							}
							
							ul.megamenu li .sub-menu .content .static-menu .menu ul {
								list-style: none;
								margin: 0px;
								padding: 0px;
							}
							
								ul.megamenu li .sub-menu .content .static-menu > .menu > ul > li {
									padding-top: 11px;
								}
								
									ul.megamenu li .sub-menu .content .static-menu > .menu > ul > li:first-child {
										padding-top: 0px;
									}
							
								ul.megamenu li .sub-menu .content .static-menu .menu ul ul {
									padding: 5px 0px;
								}
								
								     ul.megamenu li .sub-menu .content .static-menu .menu ul .categories-image-right ul a {
								          display: block;
								     }
								     
								     ul.megamenu li .sub-menu .content .static-menu .menu ul ul li a {
								          position: relative;
								          line-height: 30px;
								          font-size: 14px;
								     }
						
							/* @end */
									
							/* @group Hover Menu */
							
							ul.megamenu li .sub-menu .content .hover-menu a.main-menu {
							}
							
							ul.megamenu li .sub-menu .content .hover-menu .menu ul {
								list-style: none;
								margin: 0px;
								padding: 0px;
								position: relative;
							}
							
								ul.megamenu li .sub-menu .content .hover-menu .menu ul ul {
								     visibility: hidden;
								     opacity: 0;
								     margin-left: 20px;
									margin-top: -51px;
									width: 200px;
									padding: 20px;
									position: absolute;
									z-index: 10;
									left: 100%;
									background: #fff;
									border: 1px solid #f2f3f4;
									border-radius: 3px;
									-webkit-border-radius: 3px;
									-moz-border-radius: 3px;
									transition: all 0.2s ease-in;
									-webkit-transition: all 0.2s ease-in;
									-moz-transition: all 0.2s ease-in;
								}
								
									ul.megamenu li .sub-menu .content .hover-menu .menu ul ul.active {
										visibility: visible;
										opacity: 1;
										margin-left: 0;
									}
									
									ul.megamenu li .sub-menu .content .hover-menu .menu ul ul:after {
										position: absolute;
										display: block;
										border-color: transparent;
										border-style: solid;
										border-width: 7px;
										content: "";
										top: 27px;
										left: -7px;
										border-right-color: #fff;
										border-left-width: 0;
									}
									
									ul.megamenu li .sub-menu .content .hover-menu .menu ul ul:before {
										position: absolute;
										display: block;
										border-color: transparent;
										border-style: solid;
										border-width: 7px;
										content: "";
										top: 27px;
										left: -8px;
										border-right-color: #f2f3f4;
										border-left-width: 0;
									}
								
									ul.megamenu li .sub-menu .content .hover-menu .menu ul ul li {
										position: relative;
									}
									
								ul.megamenu li .sub-menu .content .hover-menu a {
								     padding-left: 16px;
								     line-height: 30px;
								     position: relative;
								     display: block;
								}
								
								ul.megamenu li .sub-menu .content .hover-menu a:before {
									content: "\f105";
									position: absolute;
									top: 8px;
									left: 0;
									display: block;
									font: normal normal normal 10px/1 FontAwesome;
									font-size: inherit;
									text-rendering: auto;
									-webkit-font-smoothing: antialiased;
									-moz-osx-font-smoothing: grayscale;
									font-size: 12px;
									color: #f7941d;
								}
								
						     /* @end */
								
					/* @end */
					
/* @end */

	/* @group 2. MegaMenu Mobile Heading */
	
	.megaMenuToggle {
		display: none;
		cursor: pointer;
	}
	
		.megamenuToogle-wrapper {
			position: relative;
			z-index: 26;
			background: #fff;
		}
		
		     .vertical .megamenuToogle-wrapper {
		          border-radius: 3px 3px 0px 0px;
		          -webkit-border-radius: 3px 3px 0px 0px;
		          -moz-border-radius: 3px 3px 0px 0px;
		          background: none;
		          transition: all 0.2s ease-in;
		          -webkit-transition: all 0.2s ease-in;
		          -moz-transition: all 0.2s ease-in;
		     }
		     
		          .mega-menu-modules .vertical .megamenuToogle-wrapper {
		               border-radius: 3px;
		               -webkit-border-radius: 3px;
		               -moz-border-radius: 3px;
		               cursor: pointer;
		          }
		          
		          .always_show_vertical_menu .mega-menu-modules .vertical .megamenuToogle-wrapper,
		          .always_show_vertical_menu_on_home.common-home .mega-menu-modules .vertical .megamenuToogle-wrapper,
		          body[class*="product-category-"].always_show_vertical_menu_on_category .mega-menu-modules .vertical .megamenuToogle-wrapper {
		               cursor: text;
		          }
		     
		          .always_show_vertical_menu .vertical .megamenuToogle-wrapper,
		          .mega-menu-modules .vertical:hover .megamenuToogle-wrapper,
		          .always_show_vertical_menu_on_home.common-home .mega-menu-modules .vertical .megamenuToogle-wrapper,
		          body[class*="product-category-"].always_show_vertical_menu_on_category .mega-menu-modules .vertical .megamenuToogle-wrapper {
		               border-radius: 3px 3px 0px 0px;
		               -webkit-border-radius: 3px 3px 0px 0px;
		               -moz-border-radius: 3px 3px 0px 0px;
		          }
		     
		          @media (max-width: 991px) {
		               .responsive #main .vertical .megamenuToogle-wrapper {
		                    border-radius: 3px;
		                    -webkit-border-radius: 3px;
		                    -moz-border-radius: 3px;
		                    cursor: pointer;
		               }
		               
		               .responsive #main .vertical .active .megamenuToogle-wrapper {
		                    border-radius: 3px 3px 0px 0px;
		                    -webkit-border-radius: 3px 3px 0px 0px;
		                    -moz-border-radius: 3px 3px 0px 0px;
		               }
		          }
		     
			.megamenuToogle-wrapper .container {
				color: #000;
				font-size: 14px;
				font-weight: 600;
				padding: 15px 20px 14px 20px !important;
				text-transform: uppercase;
			}
			
				.vertical .megamenuToogle-wrapper .container {
					padding: 12px 25px 12px 25px !important;
					text-align: right;
				}
				
					.vertical .megamenuToogle-wrapper .container:before {
						content: "\f107";
						font: normal normal normal 14px/1 FontAwesome;
						font-size: inherit;
						text-rendering: auto;
						-webkit-font-smoothing: antialiased;
						-moz-osx-font-smoothing: grayscale;
						text-align: center;
						color: #000;
						line-height: 22px;
						font-size: 18px;
						font-weight: bold;
						width: 26px;
						height: 26px;
						border: 2px solid #000;
						border-radius: 100px;
						-webkit-border-radius: 100px;
						-moz-border-radius: 100px;
						position: absolute;
						margin-top: -1px;
					}
			
				.megamenuToogle-wrapper .container > div {
					display: none;
				}
					
	/* @end */
								
	/* @group 3. MegaMenu Vertical */
	
	.vertical #menuHeading {
		margin: 20px 0px 0px 0px;
	}
	
	     .mega-menu-modules .vertical {
	          position: relative;
	     }
          
          .mega-menu-modules .vertical #menuHeading {
               margin: 0px;
          }
          
		.vertical .megamenuToogle-wrapper {
			z-index: 24;
		}
		
		.vertical .megamenu-wrapper {
			display: block;
			background: #fff !important;
			border: 1px solid #f2f3f4;
			border-top: none;
			position: relative;
			z-index: 23;
			border-radius: 0px 0px 3px 3px;
			-webkit-border-radius: 0px 0px 3px 3px;
			-moz-border-radius: 0px 0px 3px 3px;
			margin: 0px;
			padding: 9px 0px 10px 0px;
		}
		
		     .mega-menu-modules .vertical .megamenu-wrapper {
		          position: absolute;
		          width: 100%;
		          margin-top: 20px;
		          opacity: 0;
		          visibility: hidden;
		          transition: all 0.2s ease-in;
		          -webkit-transition: all 0.2s ease-in;
		          -moz-transition: all 0.2s ease-in;
		     }
		     
		          .always_show_vertical_menu .mega-menu-modules .vertical .megamenu-wrapper,
		          .mega-menu-modules .vertical:hover .megamenu-wrapper,
		          .always_show_vertical_menu_on_home.common-home .mega-menu-modules .vertical .megamenu-wrapper,
		          body[class*="product-category-"].always_show_vertical_menu_on_category .mega-menu-modules .vertical .megamenu-wrapper {
		               margin-top: 0;
		               opacity: 1;
		               visibility: visible;
		          }
		
			.vertical ul.megamenu > li {
				display: block;
				float: none !important;
				width: auto;
				background: none;
				border-top: 1px solid #f2f3f4;
				position: relative;
				margin: 0px;
				transition: all 0.2s ease-in;
				-webkit-transition: all 0.2s ease-in;
				-moz-transition: all 0.2s ease-in;
				padding: 0px;
			}
			
			     .vertical ul.megamenu > li:first-child {
			          border-top: none;
			     }
			
				.vertical ul.megamenu > li.home, 
				.vertical ul.megamenu > li.search {
					display: none;
				}
				
				.vertical ul.megamenu > li > a {
					text-shadow: none;
					background: none !important;
					height: auto !important;
					margin: 0px;
					padding: 9px 20px 9px 20px;
					font-size: 14px;
					color: #000;
					transition: all 0.2s ease-in;
					-webkit-transition: all 0.2s ease-in;
					-moz-transition: all 0.2s ease-in;
					-webkit-font-smoothing: antialiased;
					-moz-osx-font-smoothing: grayscale;
				}
				
				     .vertical ul.megamenu > li.active > a,
				     .vertical ul.megamenu > li:hover > a {
				          color: #f7941d;
				     }
				
				     .vertical ul.megamenu .megamenu-label {
				          display: inline-block;
				          position: relative;
				          top: 0;
				     }
				
					.vertical ul.megamenu > li.active,
					.vertical ul.megamenu > li:hover {
						background: #fcfcfc !important;
					}
				
					.vertical ul.megamenu > li > a.description {
						padding: 12px 20px 12px 21px;
					}
				
				.vertical ul.megamenu > li:before {
					display: none;
				}
				
				.vertical ul.megamenu > li.click:before, 
				.vertical ul.megamenu > li.hover:before {
					content: '\f054';
					font-family: FontAwesome;
					font-weight: normal;
					font-style: normal;
					text-decoration: inherit;
					-webkit-font-smoothing: antialiased;
					color: #f7941d;
					font-weight: 400;
					font-size: 11px;
					position: absolute;
					right: 21px;
					top: 14px;
					z-index: 0;
					padding: 0px;
					width: 20px;
					height: 20px;
					line-height: 18px;
					text-align: center;
					border-radius: 100px;
					-webkit-border-radius: 100px;
					-moz-border-radius: 100px;
					border: 2px solid #f7941d;
					background: none;
					margin: 0px;
					display: block;
					padding-left: 2px;
				}
				
				/* SubMenu */
				
				.vertical ul.megamenu > li > .sub-menu {
					left: 100%;
					padding-top: 0px;
					top: -1px;
				}
				
					.vertical ul.megamenu > li > .sub-menu > .content {
						margin-left: 15px;
						position: relative !important;
					}
					
						.vertical ul.megamenu > li > .sub-menu > .content > .arrow {
							left: 0 !important;
						}
						
							.vertical ul.megamenu > li > .sub-menu > .content > .arrow:after {
								position: absolute;
								top: -2px;
								left: 100%;
								margin-top: 0px;
								margin-left: -7px;
								display: block;
								border-color: transparent;
								border-style: solid;
								border-width: 7px;
								border-right-color: #fff;
								border-left-width: 0;
								content: '';
								z-index: 30;
							}
							
							.vertical ul.megamenu > li > .sub-menu > .content > .arrow:before {
								position: absolute;
								top: -2px;
								left: 100%;
								margin-top: 0px;
								margin-left: -8px;
								display: block;
								border-color: transparent;
								border-style: solid;
								border-width: 7px;
								border-right-color: #f2f3f4;
								border-left-width: 0;
								content: '';
								z-index: 30;
							}
							
		/* @end */

/* @group 4. Responsive
------------------*/

@media (max-width: 767px) {

     /* @group Image category */
     
     .responsive ul.megamenu li .sub-menu .content .static-menu .categories-image-right,
     .responsive ul.megamenu li .sub-menu .content .static-menu .categories-image-top {
          display: none;
     }
     
          .responsive ul.megamenu li .sub-menu .content .static-menu .categories-image-right > div > ul {
               display: block !important;
          }
     
     .responsive ul.megamenu li .sub-menu .content .static-menu .left-categories-image-right {
          float: none;
          width: 100%;
          padding: 0px;
     }
     
     .responsive ul.megamenu li .sub-menu .content .static-menu .right-categories-image-right {
          display: none;
     }
     
     .responsive ul.megamenu li .sub-menu .content .static-menu .left-categories-image-left {
          display: none;
     }
     
     .responsive ul.megamenu li .sub-menu .content .static-menu .right-categories-image-left {
          float: none;
          width: 100%;
          padding: 0px;
     }
     
     /* @end */
     
     /* @group Submenu */
	
	.responsive ul.megamenu .sub-menu .content .border {
		display: none;
	}
	
	.responsive ul.megamenu .sub-menu .content .row {
		margin: 0px -20px;
		padding: 0px;
	}
	
		.responsive ul.megamenu .sub-menu .content .row > div {
			margin-top: 20px;
			border-top: 1px solid #f2f3f4;
			padding-top: 20px;
			padding-left: 20px;
			padding-right: 20px;
		}
		
			.responsive ul.megamenu .sub-menu .content .row:first-of-type > div:first-child {
				margin-top: 0px;
				border-top: none;
				padding-top: 0px;
			}
			
			.responsive ul.megamenu .sub-menu .content .row:first-of-type > div.mobile-disabled + .mobile-enabled {
				margin-top: 0px;
				border-top: none;
				padding-top: 0px;
			}
			
			.responsive ul.megamenu .sub-menu .content .row:first-of-type > div.mobile-enabled + .mobile-disabled + .mobile-enabled,
			.responsive ul.megamenu .sub-menu .content .row:first-of-type > div.mobile-enabled + .mobile-disabled  + .mobile-disabled + .mobile-enabled,
			.responsive ul.megamenu .sub-menu .content .row:first-of-type > div.mobile-enabled + .mobile-disabled  + .mobile-disabled + .mobile-disabled + .mobile-enabled,
			.responsive ul.megamenu .sub-menu .content .row:first-of-type > div.mobile-enabled + .mobile-disabled  + .mobile-disabled + .mobile-disabled + .mobile-disabled + .mobile-enabled  {
				margin-top: 20px;
				border-top: 1px solid #f2f3f4;
				padding-top: 20px;
			}
			
	/* @end */
			
	/* @group Open Categories */
	
	.responsive ul.megamenu li .menu > ul > li {
		position: relative;
	}
	
		.responsive ul.megamenu .menu > ul > li.active > .close-categories {
			display: block !important;
			position: absolute;
			top: 0;
			right: 0;
			height: 45px;
			cursor: pointer;
		}
		
			.responsive ul.megamenu .menu > ul > li.active > .close-categories:before {
				content: "-";
				font-family: Arial;
				font-weight: 300;
				font-size: 36px;
				line-height: 35px;
				padding: 0px 18px;
			}
		
		.responsive ul.megamenu .menu > ul > li > .open-categories {
			display: block !important;
			position: absolute;
			top: 0;
			right: 0;
			height: 45px;
			cursor: pointer;
		}
		
			.responsive ul.megamenu .menu > ul > li.active > .open-categories {
				display: none !important;
			}
		
			.responsive ul.megamenu li .open-categories:before {
				content: "+";
				font-family: Arial;
				font-weight: 300;
				font-size: 24px;
				line-height: 42px;
				padding: 0px 17px;
			}
			
			.responsive #main ul.megamenu li .menu > ul > li .visible,
			.responsive #main ul.megamenu li .menu > ul > li > ul {
				display: none;
			}
			
				.responsive #main ul.megamenu li .menu > ul > li.active .visible,
				.responsive #main ul.megamenu li .menu > ul > li.active > ul {
				}
				
	/* @end */
			
	/* @group Categories -> Hover Menu & Static Menu */
	
	.responsive ul.megamenu li .sub-menu .content .hover-menu .menu,
	.responsive ul.megamenu li .sub-menu .content .static-menu .menu {
		position: relative;
		margin: -20px;
		overflow: hidden;
	}
	
		.responsive ul.megamenu li .sub-menu .content .hover-menu .menu ul,
		.responsive ul.megamenu li .sub-menu .content .static-menu .menu ul {
			margin: 0px;
			padding: 0px;
		}
	
		.responsive ul.megamenu li .sub-menu .content .hover-menu .menu ul li,
		.responsive ul.megamenu li .sub-menu .content .static-menu .menu ul li {
			border-top: 1px solid #f2f3f4;
		}
		
			.responsive ul.megamenu li .sub-menu .content .static-menu .menu ul li:before {
				display: none;
			}
		
			.responsive ul.megamenu li .sub-menu .content .hover-menu .menu > ul:first-child > li:first-child,
			.responsive ul.megamenu li .sub-menu .content .static-menu .menu > ul:first-child > li:first-child {
				border-top: none;
			}
			
			.responsive ul.megamenu li .sub-menu .content .hover-menu .menu ul li a,
			.responsive ul.megamenu li .sub-menu .content .static-menu .menu ul li a {
				display: block;
				padding: 11px 20px 8px 20px;
				font-size: 13px;
				line-height: 1.6;
				font-weight: 300;
				background: #fff;
				margin: 0px;
				border: none;
			}
			
				.responsive ul.megamenu li .sub-menu .content .hover-menu .menu ul li ul li a,
				.responsive ul.megamenu li .sub-menu .content .static-menu .menu ul li ul li a {
					font-size: 13px;
				}
			
				.responsive ul.megamenu li .sub-menu .content .hover-menu .menu ul li a:hover,
				.responsive ul.megamenu li .sub-menu .content .static-menu .menu ul li a:hover,
				.responsive ul.megamenu li .sub-menu .content .hover-menu .menu ul li.active > a,
				.responsive ul.megamenu li .sub-menu .content .static-menu .menu ul li.active > a {
					background: #f7f7f7;
				}
				
				.responsive ul.megamenu li .sub-menu .content .hover-menu .menu ul li a:before,
				.responsive ul.megamenu li .sub-menu .content .static-menu .menu ul li a:before {
					display: none;
				}
				
					.responsive ul.megamenu li .sub-menu .content .hover-menu .menu ul li ul li a:before,
					.responsive ul.megamenu li .sub-menu .content .static-menu .menu ul li ul li a:before {
						display: none;
					}
				
			.responsive ul.megamenu li .sub-menu .content .hover-menu .menu ul ul,
			.responsive ul.megamenu li .sub-menu .content .static-menu .menu ul ul {
				margin: 0px !important;
				padding: 0px !important;
				visibility: visible !important;
				opacity: 1 !important;
				transition: none !important;
				-webkit-transition: none !important;
				-moz-transition: none !important;
			}
			
				.responsive ul.megamenu li .sub-menu .content .hover-menu .menu ul ul li a,
				.responsive ul.megamenu li .sub-menu .content .static-menu .menu ul ul li a {
					padding-left: 30px;
				}
				
					.responsive ul.megamenu li .sub-menu .content .hover-menu .menu ul ul ul li a,
					.responsive ul.megamenu li .sub-menu .content .static-menu .menu ul ul ul li a {
						padding-left: 40px;
					}
					
			.responsive ul.megamenu .sub-menu .content .static-menu .row > div {
				padding: 0px 20px !important;
			}
			
			.responsive .static-menu .visible {
				padding: 0px !important;
			}
			
			.responsive ul.megamenu li .sub-menu .content .static-menu > .menu > ul > li {
				padding: 0px;
			}
			
	/* @end */
}

@media (max-width: 991px) {

	/* @group Submenu background image */
	
	.responsive ul.megamenu li .sub-menu .content {
		background-image: none !important;
	}
	
	/* @end */

	/* @group MegaMenu Vertical */
	
	.responsive .vertical #menuHeading {
		margin: 0px 0px 0px 0px;
	}
	     .responsive #main .vertical .megamenuToogle-wrapper {
	          cursor: pointer;
	     }
	
		.responsive .vertical ul.megamenu > li.click:before, 
		.responsive .vertical ul.megamenu > li.hover:before {
			display: none;
		}
		
	.responsive .mega-menu-modules .vertical .megamenu-wrapper {
	     position: relative;
	     transition: none;
	     -webkit-transition: none;
	     -moz-transition: none;
	     margin-top: 0;
	     visibility: visible;
	     opacity: 1;
	}
		
	/* @end */
	
	/* @group MegaMenu Horizontal */
	
	.responsive .horizontal {
		padding: 4px !important;
	}

	.responsive .megaMenuToggle {
		display: block;
		margin: 0px;
	}
			
	.responsive .megamenu-wrapper {
		display: none;
		background: #fff !important;
		border: 1px solid #f2f3f4;
		border-top: none;
		position: relative;
		padding: 0px !important;
		margin: 0px !important;
	}
	
		.responsive ul.megamenu > li {
			display: block;
			float: none !important;
			width: auto;
			background: none;
			border-top: 1px solid #f2f3f4;
			position: relative;
			margin: 0px;
			transition: all 0.2s ease-in;
			-webkit-transition: all 0.2s ease-in;
			-moz-transition: all 0.2s ease-in;
		}
		
			.responsive ul.megamenu > li:before {
				display: none;
			}
		
			.responsive ul.megamenu > li.home, 
			ul.megamenu > li.search {
				display: none;
			}
			
			.responsive #main ul.megamenu > li > a {
				color: #2e3b3c;
				text-shadow: none;
				background: none !important;
				margin: 0px;
				font-size: 14px;
				padding: 11px 20px 10px 20px;
				height: auto;
			}
			
			     .responsive ul.megamenu .megamenu-label {
			          display: inline-block;
			          position: relative;
			          top: 0px;
			          left: 10px;
			     }
			
				.responsive ul.megamenu > li > .sub-menu > .content > .arrow {
					display: none;
				}
			
				.responsive ul.megamenu > li:hover,
				.responsive ul.megamenu > li.active {
					background: #f6f6f6 !important;
				}

				.responsive ul.megamenu > li.with-sub-menu .open-menu {
					position: absolute;
					right: 0;
					top: 0;
					z-index: 10;
					padding: 4px 17px 10px 50px;
					display: block;
					cursor: pointer;
					height: 45px;
				}
				
					.responsive ul.megamenu > li.active .open-menu {
						display: none;
					}
					
						.responsive ul.megamenu > li.with-sub-menu .open-menu:before {
							content: "+";
							font-family: Arial;
							font-weight: 300;
							font-size: 24px;
						}
			
				.responsive ul.megamenu > li.active .close-menu {
					display: block;
					position: absolute;
					z-index: 10;
					top: 0;
					right: 0;
					width: 85px;
					height: 45px;
					padding: 1px 3px 0px 40px;
					text-align: center;
					cursor: pointer;
					
				}
				
					.responsive ul.megamenu > li.active .close-menu:before {
						content: "-";
						font-family: Arial;
						font-weight: 300;
						font-size: 36px;
						line-height: 1.07;
					}

			/* @group Submenu */
			
			.responsive ul.megamenu > li > .sub-menu {
				width: 100% !important;
				padding-top: 0px;
				position: relative;
				display: none;
				-webkit-transition: none !important;
				-moz-transition: none !important;
				transition: none !important;
				z-index: 2 !important;
				visibility: visible !important;
				left: 0 !important;
			}
			
				.responsive ul.megamenu li .sub-menu .content {
					box-shadow: none;
					-webkit-box-shadow: none;
					-moz-box-shadow: none;
					border: none;
					border-top: 1px solid #f2f3f4;
					border-radius: 0px;
					-moz-border-radius: 0x;
					-webkit-border-radius: 0px;
					display: block !important;
					visibility: visible !important;
					opacity: 1 !important;
					filter: alpha(opacity=100) !important;
					margin-top: 0px !important;
					left: 0px !important;
					margin-left: 0px !important;
					-webkit-transition: none !important;
					-moz-transition: none !important;
					transition: none !important;
					-webkit-transform: scale(1, 1) !important;
					-moz-transform: scale(1, 1) !important; 
					-o-transform: scale(1, 1) !important;
					-ms-transform: scale(1, 1) !important;
					transform: scale(1, 1) !important;
				}
					
				/* @group Hover Menu */
				
				.responsive ul.megamenu li .sub-menu .content .hover-menu .menu ul ul {
					display: block;
					margin: 5px 10px;
					width: auto;
					padding: 0px;
					position: static;
					left: 0;
					background: none;
					border: none;
					border-radius:         0px;
					-moz-border-radius:    0px;
					-webkit-border-radius: 0px;
					box-shadow:            none;
					-moz-box-shadow:       none;
					-webkit-box-shadow:    none;
					visibility: visible;
					opacity: 1;
				}
				
					.responsive ul.megamenu li .sub-menu .content .hover-menu .menu ul ul:before {
						display: none;
					}
					
					.responsive ul.megamenu li .sub-menu .content .hover-menu .menu ul ul:after {
						display: none;
					}

					.responsive .visible {
					}
					
						.responsive .visible > div {
							margin: 0px !important;
							border: none !important;
							padding: 0px 0px 0px 10px !important;
						}
						
				/* @end */
						
			/* @end */
						
	/* @end */
}

@media (min-width: 992px) {
	.megamenu-wrapper {
		display: block !important;
	}
}

@media (max-width: 991px) {
     .responsive .vertical.mobile-disabled,
     .responsive .horizontal.mobile-disabled {
          display: none !important;
     }
}

/* @end */