@media (max-width: 991px) {
	.responsive .standard-body .full-width .container {
		padding-left: 20px;
		padding-right: 20px;
	}
	
	.responsive .standard-body .fixed .container {
		padding-left: 20px;
		padding-right: 20px;
	}
	
	.responsive .main-fixed .container {
		padding-left: 20px;
		padding-right: 20px;
	}
	
		.responsive .standard-body .container .container,
		.responsive .main-fixed .container .container {
			padding-left: 0px;
			padding-right: 0px;
		}
		
	/* Block */
	
	.responsive .col-sm-3 .box-with-products,
	.responsive .col-sm-4 .box-with-products,
	.responsive .col-md-3 .box-with-products,
	.responsive .col-md-4 .box-with-products {
		display: none;
	}
	
	.responsive .main-content .pattern > .container,
	.responsive .standard-body .main-content .pattern > .container {
	     padding-bottom: 40px;
	}
}

@media (max-width: 1270px) {
	.responsive .camera_wrap {
		height: auto !important;
	}
}

@media (max-width: 991px) {
	.responsive #main .dropdown-menu {
		display: none !important;
		visibility: visible !important;
		opacity: 1 !important;
		-webkit-transition: none !important;
		-moz-transition: none !important;
		-o-transition: none !important;
		-ms-transition: none !important;
		transition: none !important;
	}
	
		.responsive #main .open > .dropdown-menu {
			display: block !important;
		}
}

@media (max-width: 500px) {
     .responsive .product-grid > .row > div {
          width: 100%;
          float: none;
     }
     
     .responsive .box-product .carousel .item .product-grid .row:first-child > div {
          width: 50%;
          float: left;
     }
}

@media (max-width: 767px) {
	/* @group Row */
	
	.responsive .row {
		margin-left: -10px;
		margin-right: -10px;
	}
	
		.responsive .row > div {
			padding-left: 10px;
			padding-right: 10px;
		}

	.responsive .standard-body .full-width .container {
		padding: 0px 20px;
	}
	
	.responsive .standard-body .fixed {
		padding: 0px;
	}
	
		.responsive .standard-body .fixed .container {
			padding: 0px 20px;
		}
	
	.responsive .fixed-body {
		padding: 0px;
	}
	
		.responsive .main-fixed .container {
			padding: 0px 20px;
		}
		
		.responsive .standard-body .container .container {
			padding-left: 0px;
			padding-right: 0px;
		}
		
	/* @end */
		
	/* @group Mobile Disabled */
	
	.responsive .mobile-disabled {
		display: none !important;
	}
	
	/* @end */
	
	/* @group Top Bar
	------------------*/
	
	.responsive #top-bar .container {
		text-align: center;
	}
     
          .responsive #top-bar .header-links {
               text-align: center;
               position: relative;
               padding-bottom: 5px;
               margin-top: -5px;
          }
          
          .responsive #top-bar .header-links li {
               padding-left: 5px;
               padding-right: 5px;
          }
          
          .responsive #top-bar form {
               float: none;
               display: inline-block;
          }
          
          .responsive #top-bar .dropdown {
               margin-right: 10px;
               margin-left: 10px;
          }
			
	/* @end */
	
	/* @group Top */
	
	.responsive #top .container {
	     padding-bottom: 20px;
	}
	
		.responsive #top .overflow-header {
			display: block;
		}
	
		.responsive #top #header-left {
			display: block;
			min-width: 1px;
			text-align: center;
		}
		
		.responsive #top #header-right {
			display: block;
			text-align: center;
		}
		
		.responsive #top .search_form {
			display: block;
			max-width: 400px;
			width: 100%;
			margin: 10px auto 0px auto;
		}
		
		.responsive #top #cart_block {
			display: block;
			width: auto;
			padding-top: 10px;
		}
		
			.responsive #top #cart_block .dropdown-menu {
				left: 0;
				right: 0;
				width: 100%;
			}
			
			.responsive #top #cart_block .dropdown-menu:after,
			.responsive #top #cart_block .dropdown-menu:before {
				right: 50%;
				left: auto;
				margin-right: -5px;
			}
	
	/* @end */

	/* @group Main Content
	------------------*/
	
	.responsive .main-content .pattern > .container,
	.responsive .standard-body .main-content .pattern > .container {
		padding-bottom: 30px;
	}
		
		/* @group Block */
		
		     /* @group Carousel mobile products */
		     
		     .responsive .box-product .carousel .item .product-grid .row {
		     	border: none;
		     }
			
			.responsive .box-product .carousel .item .product-grid .row > div {
				display: none !important;
			}
			
				.responsive .box-product .carousel .item .product-grid .row > div {
					border-top: none !important;
					border-left: 1px solid #ebedee !important;
				}
				
					.responsive .box-product .carousel .item .product-grid .row > div:first-child {
						border-left: none !important;
					}
			
				.responsive .box-product .carousel .item .product-grid .row:first-child > div:first-child,
				.responsive .box-product .carousel .item .product-grid .row:first-child > div:nth-child(2) {
					display: block !important;
				}
				
			/* @end */
			
		/* @end */
		
		/* @group Product */
			
			.responsive .product-grid .row > div.col-xs-6:nth-child(odd) {
				clear: both;
			}
          
          /* @end */
					
		/* @group Product list */
		
		.responsive .product-list > div {
			margin-bottom: 20px;
		}
		
			.responsive .product-list .actions > div {
				padding: 30px 0px 10px 0px;
				border-top: 1px solid #e6e6e6;
				margin: 20px 0px 0px 0px;
			}
			
				.responsive .product-list .actions > div:before {
					display: none;
				}
				
		/* @end */
					
		/* @group Category page */
		
		.responsive .category-info {
			padding: 0px 0px 10px 0px;
		}
		
		.responsive .category-list-text-only {
			margin-bottom: 15px;
		}
		
			.responsive .category-list .row > div {
				margin-bottom: 16px;
			}
			
				.responsive .category-list-text-only .row > div {
					margin-bottom: 6px;
				}
		
		.responsive .product-filter {
			margin: 0px 0px 20px 0px;
		}
		
			.responsive .product-filter .options,
			.responsive .product-filter .list-options,
			.responsive .product-filter .list-options .limit {
				float: none;
				margin: 0px;
				clear: both;
			}
				
				.responsive .product-filter .list-options .sort {
					padding-top: 10px;
				}
				
				.responsive .product-filter .list-options .limit {
					padding-left: 0px;
				}
				
		/* @end */
			
		/* @group Product page */
		
		.responsive .htabs {
		     margin-top: 5px;
		}
		
		.responsive .center-column .tab-content {
		     padding: 20px;
		}
		
		.responsive .htabs a {
		     padding-left: 20px;
		     padding-right: 20px;
		}
		
		.responsive .product-info .product-center {
		     margin-top: -14px;
		}
		
			/* Thumbnails */

			.responsive .product-info .thumbnails li,
			.responsive .product-info .thumbnails-left li {
				width: 25%;
				float: left;
			}
			
		/* @end */
		
		/* @group Pagination */
		
		.responsive div.pagination-results .text-left,
		.responsive div.pagination-results .text-right { 
			text-align:center;
		}
		
		/* @end */
		
		/* @group Content */
		
		.responsive .login-content .left,
		.responsive .login-content .right,
		.responsive .main-content .content .left,
		.responsive .main-content .content .right,
		.responsive .checkout-content .left,
		.responsive .checkout-content .right { 
			float: none;
			width: 100%; 
		}
		
		/* @end */
		
	/* @end */
	
	.responsive .banners > div {
	     width: 100% !important;
	}
	
	.responsive .banners.type2 {
	     margin-top: 0;
	}

	/* @group Custom Footer
	-----------------*/

	.responsive .custom-footer .pattern {
		padding-bottom: 50px;
	}
	
		.responsive .custom-footer h4 {
			padding-top: 35px;
			margin-bottom: 30px;
		}
		
	/* @end */
	
	/* @group Footer
	-----------------*/

	.responsive .footer .pattern {
		padding-bottom: 45px;
	}
		
	/* @end */
	
	/* @group Copyright
	------------------*/
	
	.responsive .copyright {
		text-align: left;
	}
	
		.responsive .copyright p {
			padding-left: 0;
		}
	
		.responsive .copyright ul {
			padding: 0px 0px 25px 0px;
			float: none !important;
			margin-left: -12px;
			margin-right: -12px;
		}
		
	/* @end */
		
	/* @group Cloud zoom */
	
	.responsive .zoomContainer {
		display: none !important;
	}
	
	/* @end */
	
	/* @group Banners */
	
	.responsive .banner {
		margin-top: 20px;
	}
	
	/* @end */
	
	/* @group Quickview */
	
	.responsive #quickview .thumbnails {
		margin-bottom: 0px;
	}
	
	/* @end */
	
	/* @group Modal */
	
	.responsive .modal-footer {
		text-align: center;
	}
	
		.responsive .button-continue-shopping {
			display: inline-block;
			float: none;
		}
		
		.responsive .button-checkout {
			display: inline-block;
			float: none;
		}
		
	/* @end */
}